.txt
.enc
100MB_file.txt
1GB_file.txt
1GB.txt.3des.enc
1GB.txt.aes.enc
1MB_file.txt
1MB.txt.3des.enc
1MB.txt.aes.enc
100MB_file.txt
100MB.txt.3des.enc
100MB.txt.aes.enc
1GB.txt
1GB.txt.3des.enc
1GB.txt.aes.enc
1MB.txt
1MB.txt.3des.enc
1MB.txt.aes.enc
100MB.txt
100MB.txt.3des.enc
100MB.txt.aes.enc
